* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20.8px;
    padding: 0.2em 0 0.2em 0
}

html {
    display: flex;
    justify-content: center;
}

body {
    background-color: #1f1b1b;
    color: #cdcdcd;
    width: 900px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.6;
    padding: 0.5em
}

a {
    color: inherit
}

h1 {
    font-style: italic;
    font-size: 1.5em;
}

#navbar ul{
    list-style: none;
    display: flex;
    gap: 0.5em;
    margin: 0;
    padding: 0;
}

#content li{
    min-height: 1.5em;
    padding: 0;
}
#content ul {
    list-style-position: inside;
    padding-left: 1em;
}

footer {
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    background-color: #555;
    margin: 2em 0;
    padding: 0;
    opacity: 0.6;
}
